html, body{
  width: 100%;
  margin: 0;
  padding: 0;

  background-color: #0359C4;
font-family: 'Oswald', sans-serif;
color: #FFFFFF
}
a{
  text-decoration: none;
  color: #0359C4;
  font-size: 27px;
}
a:hover{
  text-decoration: none;
  color: black;
}
 ul {
   margin: 0;
   padding: 0;
   text-align: left;
 }
.nav{
margin: 0;
padding: 0;
background-color: white;
}
s
.nav-link{
  display: inline-block;
  padding: 25px;

}

.image{
  width: 400px;
  margin-top: 100px;
  border-radius: 50%;
}

.container{
  text-align: center;
}
